body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    /*font-weight: 400;*/
    color: #666;
}
.section > p {
	font-size: 20px;
}
.heading-margin {
	margin-bottom: 30px;
}
h2 {
	margin-top: 20px;
	margin-bottom: 40px !important;
}
.img-box {
	position: relative;
	display: flex;
	justify-content: center;
	height: 100px;
	max-width : 100%;
}
.logo-img {
	height: 100%;
	width: 100%;
	max-width: 100vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	object-fit: cover;
}
/*for smallest screens (portrait phones)*/
@media (min-width: 360px) and (max-width: 575px) {
	.img-box {
		height: 77px;
	}
	.p-2 {
		/*apply p-3 class to left & right padding*/
		padding: 0.5rem 1rem !important;
	}
}

.pimg1, .pimg2, .pimg3, .pimg4 {
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /*setting it to fixed created parallax*/
    background-attachment: fixed;
}
.pimg1 {
    background-image:url('../img/desk.jpg');
    min-height: 86%;
    padding-top: 250px;
    opacity: 0.8;
}
@media (max-width: 575px) {
	.pimg1 {
		min-height: 80%;
		padding-top: 160px;
	}
}
.pimg2 {
    background-image:url('../img/workspace.jpg');
    min-height: 400px;
}
.pimg3 {
    background-image:url('../img/img3.jpeg');
    min-height: 400px;
}
.pimg4 {
    background-image:url('../img/edinburgh.jpg');
    min-height: 86%;
    padding-top: 90px;
}
.section {
    min-height: 70%;
    padding: 50px 80px;
}
.section-light {
    background-color: #f4f4f4;
    color: #666;
}
.section-dark {
    background-color: #282e34;
    color: #ddd;
}
@media (max-width: 575px) {
	.section-light {
		padding: 50px 20px;
	}
	.section-dark {
		padding: 50px 40px;
	}
}
.ptext {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border {
    background-color: #111;
    color: #fff;
    padding: 20px;
}
.ptext .border .trans {
    background-color: transparent;
}

/*Max Miguta*/
.main-heading {
    text-align: center;
    font-size: 66px;
    letter-spacing: 8px;
    text-transform: uppercase;
    text-shadow: 4px 4px 4px #757575;
}
.main-heading .border {
    display: inline-block;
    color: #fff;
    border: 0px none !important;
    padding: 20px;
    margin-bottom: 40px;
}
/*improve display on smaller screens*/
@media (min-width: 768px) and (max-width: 991px) {
	.main-heading {
		font-size: 58px;
	}
}
@media (min-width: 576px) and (max-width: 767px) {
	.main-heading {
		font-size: 36px;
	}
	.carousel {
		visibility: hidden;
	}
}
@media (max-width: 575px) {
	.main-heading {
		font-size: 30px;
	}
	.carousel {
		visibility: hidden;
	}
}

/*Carousel*/
.car-container {
    margin: auto;
    max-width: 768px;
}

/*Portfolio*/
.img-margin {
	margin-bottom: 30px;
}
.hovereffect {
	width: 100%;
	height: 100%;
	float: left;
	overflow: hidden;
	position: relative;
	text-align: center;	
	background: #015d8e;
}
.hovereffect .overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
	top: 0;
	left: 0;
	padding: 50px 20px;
}
.hovereffect img {
	display: block;
	position: relative;
	max-width: none;
	width: calc(100% + 20px);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(-10px, 0, 0);
	transform: translate3d(-10px, 0, 0);
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.hovereffect:hover img {
	opacity: 0.4;
	filter: alpha(opacity=40);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.hovereffect h2 {
	top: 40%;	/*vertically centre the element by moving it down to the middle of its parent*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	position: relative;
	font-size: 30px;
	overflow: hidden;
	padding: 0.5em 0;
	background-color: transparent;
	opacity: 0;	/*make the heading invisible initially*/
	transition: opacity 0.35s;
}
.hovereffect:hover h2 {
	opacity: 1;	/*show the heading on hover*/
	transition: opacity 0.35s;
}
/*horizontal line effect*/
.hovereffect h2:after {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fff;
	content: '';
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(-100%, 0, 0);
	transform: translate3d(-100%, 0, 0);
}
.hovereffect:hover h2:after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
.hovereffect p {
	top: 35%;	/*vertically centre the element by moving it down to the middle of its parent*/
	position: relative;	/*this is also needed here*/
	color: #fff;
	font-size: 25px;
	opacity: 0;
	filter: alpha(opacity=0);
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: translate3d(100%, 0, 0);
	transform: translate3d(100%, 0, 0);
}
.hovereffect:hover p {
	opacity: 1;
	filter: alpha(opacity=100);
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}
@media (max-width: 575px) {
	.overlay > h2 {
		margin-bottom: 25px !important;
	}
	.hovereffect .overlay {
		padding-top: 0px;
	}
	.hovereffect h2 {
		top: 18%;
		font-size: 20px;
		line-height: 28px;
	}
	.hovereffect p {
		top: 8%;
		font-size: 18px;
	}
}

/*Skills / Education / Experience*/
.resume-block {
    margin-top: 20px;
}
.skills-items {
    margin-bottom: 30px;
}
.progress {
    position: relative;
    height: 25px;
    margin-bottom: 10px;
}
.progress-type {
    position: absolute;
    left: 0px;
    padding-top: 4px;
    padding-left: 10px;
    font-weight: 400;
    color: #fff;
}
.history-items {
    margin-bottom: 40px;
}
.timeline-item {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid; /*provides the vertical timeline*/
}
.timeline-item p {
    padding: 0;
    margin: 0;
}
/*Date elements on the timeline*/
.timeline-item:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 2.8em;
    display: block;
    font-family: , sans-serif;
    font-weight: ;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}
/*Circular shapes on the timeline*/
.timeline-item:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: '';
    background: #fafafa;
}
h4 {
    color: #b8e7ff;
}

/*Contact Form*/
.contact-heading {
	text-align: center;
    font-size: 27px;
    letter-spacing: 8px;
	text-transform: uppercase;
}
.contact-heading .border {
	display: inline-block;	/*need this so that the <span> is treated like a 'block' but at the same time doesn't stretch the full width of the page*/
	background-color: #111;
    color: #fff;
    padding: 20px;
	margin-bottom: 40px;
}
.center-form {
	padding: 20px 0;
    margin: auto;
    max-width: 70%;
}
@media (min-width: 360px) and (max-width: 575px) {
	.center-form {
		max-width: 90%;
	}
}
.center-form input,
.center-form textarea {
	padding: 10px;
	margin: 10px 0;
	max-width: 100%;
	color: #fff;
	background-color: #111;
}
button[type="submit"] {
    margin-top: 15px;
    margin-bottom: 20px;
    background-color: #0078b8;
    color: #fff;
}
.social-section {
    padding-bottom: 40px;
}
/*amend default Font Awesome icon colours*/
.fa-linkedin,
.fa-github-square,
.fa-file-download {
    color: #0078b8;
    transition: 350ms;
}
.fa-linkedin:hover,
.fa-github-square:hover,
.fa-file-download:hover {
    color: #b1916b;
    transition: 350ms;
}

/*Footer*/
.main-footer {
    height: 140px;
    width: 100%;
    background-color: #282e34;
    color: #ddd;
    text-align: center;
    padding-top: 30px;
}

/*Return to top button*/
#scrollBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99;
    cursor: pointer;
}
.fa-arrow-alt-circle-up {
    color: #4ca0cd;
}
.fa-arrow-alt-circle-up:hover {
    color: #5bbff4;
}

/*Amend some Bootstrap default values*/
/*add a drop shadow to the navbar*/
.navbar {
	-webkit-box-shadow: 0px 8px 6px 0px rgba(0,0,0,1);
	-moz-box-shadow: 0px 8px 6px 0px rgba(0,0,0,1);
	box-shadow: 0px 8px 6px 0px rgba(0,0,0,1);
}
/*text colour for the brand/title text*/
.navbar-dark .navbar-brand {
	color: #b8e7ff;
}
/*overwrite the default colour of all the links on the navbar*/
.navbar-dark .navbar-nav .nav-link {
	color: #b8e7ff;
}
/*overwrite the hover colour of all the links on the navbar*/
.navbar-dark .navbar-nav .nav-link:hover, .navbar-dark .navbar-nav .nav-link:focus {
	color: #fff;
}
/*overwrite the default colour of the 'active' link on the navbar*/
.navbar-dark .navbar-nav .show > .nav-link,
.navbar-dark .navbar-nav .active > .nav-link,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .nav-link.active {
	color: #b8e7ff;
}
/*border colour for the 'burger' button of the collapsible nav menu*/
.navbar-dark .navbar-toggler {
	border-color: rgba(255, 255, 255, 0.7);
}
/*colour of the horizontal lines for the 'burger' button of the collapsible nav menu*/
.navbar-dark .navbar-toggler-icon {
	background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255, 255, 255, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
/*background colour for the navbar menu*/
.bg-dark {
	background-color: #015d8e !important;
}
/*background colour for the whole length of the navbar menu*/
.navbar-inverse {
	background-color: #015d8e;
	border-color: #004c74; /*change border color from #015d8e to match bg-color of nav link for active page*/
}
/*text colour for the brand/title text on the collapsible nav menu*/
.navbar-inverse .navbar-brand {
	color: #b8e7ff;
}
/*text colour for all of the links on the collapsible nav menu*/
.navbar-inverse .navbar-nav > li > a {
	color: #b8e7ff;
}
/*text and background colour for the nav link of active/current page*/
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
	color: #fff;
	background-color: #004c74;
}
/*border colour for button of the collapsible nav menu*/
.navbar-inverse .navbar-toggle {
	border-color: #00669c;
}
/*background colour for button of the collapsible nav menu*/
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
	background-color: #00669c;
}
/*change appearance of form fields on focus*/
.form-control:focus {
	color: #b8e7ff;
	background-color: rgba(17, 17, 17, 0.8);
	border-color: #005887;
}
/*change form placeholder text colour*/
.form-control::-webkit-input-placeholder {
 	color: #b8e7ff;
}
.form-control:-ms-input-placeholder {
	color: #b8e7ff;
}
.form-control::-ms-input-placeholder {
	color: #b8e7ff;
}
.form-control:-moz-placeholder {
	color: #b8e7ff;
}
.form-control::-moz-placeholder {
	color: #b8e7ff;
}
.form-control::placeholder {
	color: #b8e7ff;
}